* {
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.wapper {
  width: 100%;
  height: 400px;
}
.main1 {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}
.main2 {
  width: 100%;
  height: 330px;
  display: flex;
}
.main2_left {
  width: 400px;
  height: 330px;
  margin-right: 24px;
}
.main2_left1,
.main2_left2 {
  width: 100%;
  height: 165px;
}
.main2_left1-title {
  display: flex;
  width: 100%;
  height: 65px;
}

.main2_left1-title p {
  width: 80%;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.main2_left1-title img {
  width: 16%;
  margin-right: 10px;
}

.main2_left2-title {
  display: flex;
  width: 100%;
  height: 65px;
}

.main2_left2-title p {
  width: 80%;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.main2_left2-title img {
  width: 16%;
  margin-right: 10px;
}
.main2_left1 > p,
.main2_left2 > p,
.main2_right1 > p,
.main2_right2 > p {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-left: 10px;
}
.main2_center {
  width: 400px;
  height: 330px;
  background-color: rgb(40, 37, 206);
}
.main2_center img {
  width: 100%;
  height: 100%;
}

.main2_right {
  width: 400px;
  height: 330px;
  margin-left: 24px;
}
.main2_right1,
.main2_right2 {
  width: 100%;
  height: 165px;
}
.main2_right1-title {
  display: flex;
  width: 100%;
  height: 65px;
}
.main2_right1-title p {
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
  .main2_right1-title img {
    width: 16%;
    margin-left: 10px;
  }
.main2_right2-title {
  display: flex;
  width: 100%;
  height: 65px;
}
.main2_right2-title p {
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
.main2_right2-title img {
    width: 16%;
    margin-left: 10px;
  }
